<!DOCTYPE html>
<html lang="en">
{% if request.session.lang == "he" %}
    <html dir="rtl">
{% endif %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/general.css"/>
</head>
<body>
<div class="topnav" id="myTopnav">
    <a class="active" href="#SignIn" style="float:right">{{strings.signin}}</a>
    <a href="Sell">{{strings.sell}}</a>
    <a href="Rent">{{strings.rent}}</a>
    <a href="Trade">{{strings.trade}}</a>
    <a href="Agent">{{strings.agent}}</a>

</div>
<div>
    <img src="/static/stop.png" alt="failed to include" />
</div>
</body>
</html>